@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");
@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #ff5400;
  --color-secondary: #131318;
  --color-base-200: #5a5a5d;
}

* {
  font-family: "Mulish", sans-serif;
}
